@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



.font-14 {
    font-size: 14px;
}

.font-roboto { 
    font-family: 'Roboto', sans-serif;
}

.font-700 {
    font-weight: 700;
}

.font-400 {
    font-weight: 400;
}

.menubar {
    letter-spacing: 0.071em;
    color: white;
    line-height: 24px;
    text-transform: uppercase;
}

.no-underline {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.bg-black {
    background-color: black;
}

.hero-section {
    background-color: black;
    color: white;
}

.join__heading h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.join__body_wrapper {
    max-width: 650px;
    margin: auto;
}
.join__text {
    width: 100%;
}

.join__text p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.join__inp_text {
    background-color: black;
    border-radius: 0;
    border-color: #aaa;
    color: #aaa;
    font-size: 14px;
    padding: 15px;
}

.join__inp_text:focus {
    background-color: black;
    color: #aaa
}

.join__inp_text::placeholder {
    color: #aaa
}
.join__btn_submit {
    width: 100%;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}


.subscribe__heading h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.subscribe__body_wrapper {
    max-width: 650px;
    margin: auto;
}
.subscribe__text {
    width: 100%;
}

.subscribe__text p {
    font-family: 'Montserrat', sans-serif;
}

.subscribe__inp_text {
    border-radius: 0;
    font-size: 14px;
    padding: 15px;
}



.subscribe__btn_submit {
    width: 100%;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #ececec;
    background-color: black;
}

.footer__copyright{
    color: #888;
}


.join__page {
    min-height: calc(100vh - 160px);
}


.email-form, .email-otp, .wallet-box {
    max-width: 432px;
}

